@import '@/shared/styles/main.scss';

.custom_text {
  &__text-base {
    font-size: 1rem;
  }
  &__text-sm {
    font-size: 1.2rem;
  }
  &__text-md {
    font-size: 1.6rem;
  }
  &__text-lg {
    font-size: 2.4rem;
  }
  &__text-xl {
    font-size: 3.6rem;
  }
  &__text-2xl {
    font-size: 4.8rem;
  }
  &__text-3xl {
    font-size: 6.4rem;
  }

  &__font-light {
    font-weight: 300;
  }
  &__font-normal {
    font-weight: 400;
  }
  &__font-medium {
    font-weight: 500;
  }
  &__font-semibold {
    font-weight: 600;
  }
  &__font-bold {
    font-weight: 700;
  }
  &__font-extrabold {
    font-weight: 800;
  }
  &__font-black {
    font-weight: 900;
  }

  &__color-white {
    color: $paper-light;
  }

  &__color-black {
    color: $paper-dark;
  }

  &__color-primary {
    color: $primary-main;
  }
  &__color-secondary {
    color: $secondary-main;
  }
  &__color-accent {
    color: $accent-main;
  }

  &__color-disabled {
    color: $text-disabled;
  }
}
